<!doctype html>
<html ng-app="reka-ui">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>reka admin</title>
    <link rel="stylesheet" href="/assets/all.css">
  </head>
  <body>
    <div id="app">{{{ html.main }}}</div>
    {{#javascripts}}<script src="{{.}}"></script>{{/javascripts}}
  </body>
</html>