**/target
**/dependency-reduced-pom.xml
**/.reka
**/.classpath
**/.settings
**/.project
**/*.log
**/*.iml
*/**/.gitignore
bundles/clojure-env/build
docker/**/*.jar
dist
.java-home
build
**.h2.db
**.trace.db
