text {
  font-size: 11px;
}

g.node[id*="__START__"] ellipse,
g.node[id*="__END__"] ellipse {
  fill: #ddd;
}

g.node[id*="__EMBEDDED__"] polygon {
  fill: #333;
}

g.node[id*="__EMBEDDED__"] text {
  fill: #fff;
}